.navbar{
    background: #004134;
}

.navbar__button{
    background: rgba(255,255,255,.6);
}

.navbar__button--active{
    background: rgba(255,255,255,0.2);
}


.tabs__container{
    /* Hide scrollbar for IE, Edge add Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    white-space: nowrap;
    width: 100%;
    overflow-x:hidden; /*scroll;*/
    position: relative;
    min-height: 400px;
    
}

.tabs__container::-webkit-scrollbar{
    display : none;
    
}
.tab{
    width : 100%;
    margin: 0px;
    padding: 0px;

    position: relative;

    white-space :normal;

    display: inline-block;
    border-right: solid 2px #004134;
    border-bottom: solid 2px #000000;

    background-color: greenyellow;
}
.tabs__consult{
    margin-bottom: 4px;
    border-bottom: 1px solid #004134;
    min-height: 48px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    font-style: normal;
}
.tabs__consult__pc{
    margin-bottom: 4px;
}

.tabs__edit{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 5;
    color: #000000;

}
.tabs__edit--suggestion{
    color: grey;
    z-index: 4;

}