.navbar{
    background: #004134;
}

.navbar__button{
    background: rgba(255,255,255,.6);
}

.navbar__button--active{
    background: rgba(255,255,255,0.2);
}


.tabs__container{
    /* Hide scrollbar for IE, Edge add Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
    white-space: nowrap;
    width: 100%;
    overflow-x:scroll;
    
}

.tabs__container::-webkit-scrollbar{
    display : none;
    
}
.tab{
    width : 100%;
    margin: 0px;
    padding: 0px;

    white-space :normal;
    min-height: 200px;
    display: inline-block;
    border-right: solid 2px #004134;
    border-bottom: solid 2px #000000;
}
.tab__caption{
    background-color: #004134;
    color: antiquewhite;
}
.tabs__consult{
    position: relative;
    margin-bottom: 4px;
    min-height: 48px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: normal;
    font-style: normal;
}
.tabs__consult__pc{
    margin-bottom: 4px;
}

.tabs__edit{

    color: #000000;
    border: #004134 1px solid;
    border-radius: 5px; 
    min-height: 32px;
    padding  :12px

}
.tabs__edit__line{
    background-color: transparent;
    min-height: 24px
}
.tabs__edit--suggestion{
    color: #87ceeb;
}
