.nav--bar__widget {
  margin-right: 8px;
  margin-left: 8px;

  font-size: 0.9rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-style: normal;
}

input[type="text"] {
  width: 128px;
}

.table-container{
  height : 100vh;
  width : 95vw;
  overflow-y: scroll;
  overflow-x: scroll;
  border : 1px red solid;
}

